<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Assignment Details</title>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <header>

    </header>
    <main>
        <table class="assignment_details" border="0.5">
            <tr>
                <th>Sr No.</th>
                <th>Trimester</th>
                <th>Paper</th>
                <th>Assignment No</th>
                <th>Action</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </main>
    <footer>

    </footer>
</body>

</html>